.bookex_btn {
    background-color: cornflowerblue;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    margin-top: -8px;
}
.mg-right-20{
    margin-right: 20px;
}
.width-30{
    width: 30%;
}
.mg-bottom-30{
    margin-bottom: 30px ;
}




















































